body{
	margin:0;
}
#navHeader{
	z-index: 100;
	opacity:0.8;
}
#nav{
	z-index: 1000;
	white-space: nowrap;
}
#homeButton{
	margin-right: 30vw;
}
ul{
	list-style-type:none;
}
h2{
	text-align: right;
	line-height: 37pt;
}
td{
	vertical-align: text-top;
}